@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* first fonts and colors */
:root {
    --sidebar-background-color: #1992d4;
    --main-background-color: #e2e8f0;
    --header-background-color: #ffffff;    
    --text-color: #000000;
    --profile-pic-background-color: #facc15;
    --text-color-p: #5f5f5f;
    --project-card-highlight-color: #f0b429;
}

html {
    box-sizing: border-box;
}

body {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    color: var(--text-color);
    margin: 0; /* remove default margin */
    background-color: var(--main-background-color);
    box-sizing: border-box;
}

p {
    color: var(--text-color-p);
    line-height: 1.2rem;
}

h3 {
    margin-block-end: 0.5em;
    margin-block-start: 0.5em;
}

p {
    margin-block-start: 0.5em; 
    margin-block-end: 0.5em;   
}

.outer-grid {
    display: grid;
    grid-template-columns: 270px 1fr;
    grid-template-rows: 160px 1fr;
    grid-template-areas:
        "sidebar header"
        "sidebar main";
    height: 100vh;
    box-sizing: border-box;
}

.sidebar {
    grid-area: sidebar;
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: start;
    background-color: var(--sidebar-background-color);
    color: white;   
    font-weight: 800; 
    height: 100vh;
}

.logo {
    margin-bottom: 30px;
    margin-top: 10px;
}

.sidebar ul.menu {
    margin-bottom: 30px;
}

.sidebar ul {
    padding: 0;
    margin: 0;
    width: 100%;    
}

.sidebar li{
    list-style: none;
    cursor: pointer;
    margin-bottom: 10px;    
}

.sidebar a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: white;
    height: fit-content;
}

.sidebar img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    fill: white;
}

.sidebar .menu-icon{
    margin-left: 40px;
}

.sidebar .logo-icon{
    margin-left: 30px;
}

.sidebar .logo-text {
    font-size: 1.5em;
}


.logo-icon img {
    width: 44px;
    height: 44px;    
    margin-right: 10px;
}



.header {
    grid-area: header;    
    background-color: var(--header-background-color);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: 1fr auto;
    grid-template-areas:
        "search admin"
        "user buttons";
}

.header .search {
    display: inline-flex;
    align-items: center;
    width: 100%;
    grid-area: search;
}

.header .search img {
    width: 30px;
    height: 30px;
    margin-left: 20px;
    margin-right: 10px;    
}



.header .search input {
    width: 80%;
    padding: 10px;
    margin: 10px 20px;
    border-radius: 20px;
    border-width: 0;
    font-size: 1em;
    background-color: var(--main-background-color);
}

.header .admin {
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;    
    width: 100%;
    grid-area: admin;
    font-size: 1.2em;
    font-weight: 800;       
}

.header .admin img {
    width: 30px;
    height: 30px;
    margin-left: 40px;
    margin-right: 10px;    
}

.header > .admin > .profilepic {
    width: 60px;
    height: 60px;
    margin-left: 10px;
    margin-right: 20px; 
    background-color: var(--profile-pic-background-color); 
    border-radius: 30px;  
    padding: 10px;
    box-sizing: border-box;
}

.header .admin span {
    margin-right: 20px;    
}

.header .user {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
        "profilepic greeting"
        "profilepic username";    
    width: 100%;
    grid-area: user;
}

.header > .user > .profilepic {
    width: 80px;
    height: 80px;
    margin: 0px 20px 10px 30px;
    background-color: var(--profile-pic-background-color); 
    border-radius: 50px;  
    padding: 10px;
    box-sizing: border-box;
    grid-area: profilepic;
}

.header .greeting {
    grid-area: greeting;
    font-size: 0.8em;
    font-weight: 500;
    align-self: center;
}

.header .username {
    grid-area: username;
    font-size: 1.5em;
    font-weight: 800;
}

.header .buttons {
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
    grid-area: buttons;
    font-size: 1em;
    font-weight: 800;
    margin: 10px 10px;
}

button {
    background-color: var(--sidebar-background-color);
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    margin-left: 20px;
    width: 120px;
    cursor: pointer;
    font-size: 1em;
    font-weight: 800;
}


.main {
    grid-area: main;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "projects announcements"
        "projects trending";
    gap: 20px; 
    padding: 20px 30px;
    box-sizing: border-box;       
}

.main .projects {
    grid-area: projects;
    box-sizing: border-box;
}

.project-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;    
    box-sizing: border-box;
}

.project-card{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    padding: 20px 20px; 
    box-sizing: border-box;
    border-left: var(--project-card-highlight-color) 10px solid;
}

.project-icons {
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;  
    width: 100%; 
}

.project-icons img {
    width: 30px;
    height: 30px;
    margin: 10px 15px 0px 0px;    
    cursor: pointer;
}
